@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<p>Established in 2020, we are a very recent up and coming animal shelter, determined to give every animal out there
    a peaceful and happy life. We are all passionate about animals, and care deeply for the wellbeing of every one of
    them. We work closely with our community, taking in animals from people and making sure they are given the love
    and attention they so desparately need.</p>
