@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    One Harlington Way<br />
    Squantley, West Dakota<br />
    <p>Phone: 0800123456</p>
</address>

<address>
    <strong>Email:</strong>   <p>KingsAnimalShelter@gmail.com</p><br />
</address>